.container-fluid {
    display: flex;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1608311398550-24a725c0b9e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    font-family: "Roboto", sans-serif;
  }

/* Style for Weather App */

.weather_container {
    background: radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 91%
    );
  }
  .search_bar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .weather_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #search_input{
  width: 500px;
  border-radius: 2rem;
  height: 3rem;
  margin-top: 0.5rem;
  border:1px solid whitesmoke; 
  outline: none;
  
  }
  #search_input:focus{
    border: 2px solid red;
    box-shadow: 2px 2px 2px 2px #FDBF38; 
  }
  
  #static_img{
  height:200px;
  }
  
  #location {
    color: lightgoldenrodyellow;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer
    
  }
  
  #location {
    transition: .5s linear;
  }
  
  #location:hover {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 10px #fff,0 0 30px #fff;
  }
  .material-symbols-outlined{
    margin-top: 1rem;
    margin-left: 0.5rem;
    color: whitesmoke; 
  
  }
  .material-symbols-outlined:hover{
    color: #FFF;
    text-shadow:  0 0 10px #fff, 0 0 10px #fff,0 0 30px #fff;
  }